<!doctype html>
<html ng-app="root_module">  <!-- direktiivi (= htmln attribuutti), ng kertoo että on angular. root_module itse annettu nimi johon viitataan example_module.js:ssä -->
    <head>
        <meta charset="utf-8"/>
        <title>Hello Angular</title>
    </head>
    <body>
        <div ng-controller="personController">
            <table>
                <tr > 
                    <th ng-repeat="head in person.headers" ng-if="!$first" >{{head}}</th><!-- person.headers on haluttu taulukko. head on muuttuja, nimi vapaasti itse kekstitty -->
                </tr>
                <tr ng-repeat="data in person.actual_data">
                    <td>{{data.name}}</td>
                    <td>{{data.address}}</td>
                    <td>{{data.age}}</td>
                </tr>
            </table>
            
            <ul>
                <li ng-repeat="data in person.actual_data">{{data.name}} {{data.address}}</li>
            </ul>
            
        </div>
        <input type="text" ng-model="echo_taulu"/>
        <br/>
        <p>You typed: {{echo_taulu}}</p>
        
        <script src="../lib/jquery-2.1.4.js"></script>
        <script src="../lib/angular.min.js"></script>
        <script src="../scripts/example_module.js"></script>
    </body>
</html>