<h1>Here are you friends!</h1>
<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Age</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="p in person.data">
                <td>{{p.name}}</td>
                <td>{{p.address}}</td>
                <td>{{p.age}}</td>
                <td><button value="Delete" ng-click="person.deletePerson(p._id)">Delete</button> </td>
            </tr>
        </tbody>

    </table>
</div>

<a href="../views">Show other view</a>